@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import "tailwindcss";

@theme {
    /* light theme */
    --color-light-theme: oklch(0.68 0.0187 103.3);
    --color-surface: var(--color-neutral-10);
    --color-surface-alt: var(--color-neutral-50);
    --color-on-surface: var(--color-neutral-600);
    --color-on-surface-strong: var(--color-neutral-900);
    --color-primary: var(--color-black);
    --color-on-primary: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-800);
    --color-on-secondary: var(--color-white);
    --color-outline: var(--color-neutral-300);
    --color-outline-strong: var(--color-neutral-800);

    /* dark theme */
    --color-surface-dark: var(--color-neutral-950);
    --color-surface-dark-alt: var(--color-neutral-900);
    --color-on-surface-dark: var(--color-neutral-300);
    --color-on-surface-dark-strong: var(--color-white);
    --color-primary-dark: var(--color-white);
    --color-on-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-neutral-300);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-neutral-700);
    --color-outline-dark-strong: var(--color-neutral-300);

    /* shared colors */
    --color-info: var(--color-sky-500);
    --color-on-info: var(--color-white);
    --color-success: var(--color-green-500);
    --color-on-success: var(--color-white);
    --color-warning: var(--color-amber-500);
    --color-on-warning: var(--color-white);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-white);

    /* border radius */
    --radius-radius: var(--radius-sm);

    /* font theme */
    --font-sans: "Parkinsans", sans-serif;
}

@layer base {
    h1 {
        font-size: 5vw;
        font-weight: bold;
    }
    h2 {
        font-size: 4vw;
        font-weight: bold;
    }
    h3 {
        font-size: 3vw;
    }
    h4 {
        font-size: 2vw;
    }
    button {
        white-space: nowrap;
        border-radius: var(--radius-radius);
        background-color: oklch(.70 0.1 171);
        /* border: 1px solid var(--color-secondary); */
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.05em;
        color: var(--color-on-secondary);
        transition: opacity 0.2s;
        text-align: center;
    }

    button:hover {
        opacity: 0.75;
    }

    button:focus-visible {
        outline: 2px solid var(--color-secondary);
        outline-offset: 2px;
    }

    button:active {
        opacity: 1;
        outline-offset: 0;
    }

    button:disabled {
        opacity: 0.75;
        cursor: not-allowed;
    }

    button.dark {
        background-color: var(--color-secondary-dark);
        border: 1px solid var(--color-secondary-dark);
        color: var(--color-on-secondary-dark);
    }

    button.dark:focus-visible {
        outline: 2px solid var(--color-secondary-dark);
    }
}