@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@import "tailwindcss";

@theme {
    /* light theme */
    --color-light: oklch(27.19% 0.090 264.55);
    --color-light-invert: oklch(81.03% 0.070 268.46);
    --color-light-hover: oklch(44.79% 0.1662 264.2);
    --color-background: oklch(92.39% 0.0336 73.19);
    --color-primary: oklch(46.03% 0.172 264.09);
    --color-secondary: oklch(78.35% 0.055 344.26);
    --color-accent: oklch(76.69% 0.067 23.40);

    /* dark theme */
    --color-dark-text: oklch(81.03% 0.070 268.46);
    --color-dark-background: oklch(10.83% 0.007 285.17);
    --color-dark-primary: oklch(57.69% 0.167 265.16);
    --color-dark-secondary: oklch(35.29% 0.066 346.90);
    --color-dark-accent: oklch(35.53% 0.083 26.22);

    /* shared colors */
    --color-info: var(--color-sky-500);
    --color-on-info: var(--color-white);
    --color-success: var(--color-green-500);
    --color-on-success: var(--color-white);
    --color-warning: var(--color-amber-500);
    --color-on-warning: var(--color-white);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-white);

    /* border radius */
    --radius-radius: var(--radius-sm);

    /* font theme */
    --font-sans: "Parkinsans", sans-serif;
}

@layer base {
    body {
        background-color: var(--color-background);
        color: var(--color-text);
        text-wrap: wrap;
    }
    .body-default {
        margin-top: 4rem; /* mt-16 */
        margin-left: auto; /* mx-auto */
        margin-right: auto; /* mx-auto */
        max-width: 64rem; /* max-w-4xl */
        padding: 1.5rem; /* p-6 */
    }
    h1 {
        font-size: 32px;
        font-weight: bold;
    }
    h2 {
        font-size: 28px;
        font-weight: bold;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    button {
        white-space: nowrap;
        border-radius: var(--radius-radius);
        background-color: var(--color-primary);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.05em;
        color: var(--color-background);
        transition: opacity 0.2s;
        text-align: center;
    }

    button:hover {
        opacity: 0.75;
    }

    button:focus-visible {
        outline: 2px solid var(--color-secondary);
        outline-offset: 2px;
    }

    button:active {
        opacity: 1;
        outline-offset: 0;
    }

    button:disabled {
        opacity: 0.75;
        cursor: not-allowed;
    }

    button.dark {
        background-color: var(--color-dark-secondary);
        /* border: 1px solid var(--color-dark-secondary); */
        color: var(--color-dark-secondary);
    }

    button.dark:focus-visible {
        outline: 2px solid var(--color-dark-secondary);
    }

    .text-light {
        color: var(--color-text);
    }

    .text-light-hover {
        color: var(--color-text-hover);
    }

    .input-default {
        width: 100%;
        border-radius: var(--radius-radius);
        border: 1px solid var(--color-secondary);
        background-color: var(--color-background);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.875rem;
        transition: outline 0.2s;
        cursor: not-allowed;
        opacity: 0.75;
    }
    
    .input-default:focus-visible {
        outline: 2px solid var(--color-primary);
        outline-offset: 2px;
    }
    
    .input-default:disabled {
        cursor: not-allowed;
        opacity: 0.75;
    }
    
    .input-default.dark {
        border: 1px solid var(--color-dark-secondary);
        background-color: rgba(var(--color-dark-background), 0.5);
    }
    
    .input-default.dark:focus-visible {
        outline: 2px solid var(--color-primary-dark);
    }
    .swiping-badge {
        background-color: var(--color-secondary);
        color: var(--color-light);
        font-size: 0.75rem; /* 12px */
        font-weight: 500;
        margin-right: 0.5rem; /* 8px */
        padding-left: 0.625rem; /* 10px */
        padding-right: 0.625rem; /* 10px */
        padding-top: 0.125rem; /* 2px */
        padding-bottom: 0.125rem; /* 2px */
        border-radius: 9999px;
    }
    
    .dark .swiping-badge {
        background-color: var(--color-dark-secondary);
        color: var(--color-dark-text);
    }

    .swipecard-template {
        padding: 1.5rem;
    }
    
    @media (min-width: 768px) {
        .swipecard-template {
            padding: 2.5rem;
        }
    }
    
    .swipecard-template {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 0.5rem; /* 8px */
        max-width: 20rem; /* 320px */
        flex-direction: column;
        overflow: hidden;
        border-width: 1px;
        border-color: var(--color-outline); /* Assuming --color-outline is defined in your CSS variables */
        background-color: var(--color-surface-alt); /* Assuming --color-surface-alt is defined in your CSS variables */
        color: var(--color-on-surface); /* Assuming --color-on-surface is defined in your CSS variables */
    }
    
    .dark swipecard-template {
        border-color: var(--color-outline-dark); /* Assuming --color-outline-dark is defined in your CSS variables */
        background-color: var(--color-surface-dark-alt); /* Assuming --color-surface-dark-alt is defined in your CSS variables */
        color: var(--color-on-surface-dark); /* Assuming --color-on-surface-dark is defined in your CSS variables */
    }
}